.app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#header {
  height: 4rem;
  width: 100%;
  background-color: #6690ff;
  color: white;
}

#sideBar {
  background-color: #3d30f9;
  height: 43.3rem;
  color: white;
}

#routeBar {
  background-color: #dcdcdc;
  height: 43.3rem;
  width: 100%;
}
#collapse-btn {
  width: 4rem;
}
.sb-button {
  border: none;
  background-color: transparent;
  margin: 1.2rem 1rem;
}
.sb-button svg {
  height: 1.5rem;
  cursor: pointer;
}
#logoDiv {
  width: 12rem;
}
#logoDiv p {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 1.5rem;
}
#user-icon-box {
  margin: -1px 0px 0px 78rem;
}
.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: #6690ff !important;
  color: white !important;
}
.css-dip3t8 {
  background-color: transparent !important;
  border: none;
  margin: 10rem 0 0 0;
}
.cards {
  background-color: yellow;
  width: 4rem;
  height: 4rem;
}
